@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

header {
  height: 80px;
}

footer {
  height: 60px;
}

@keyframes fall {
  0% {
    transform: translateY(-100%);
    opacity: 1;
  }
  100% {
    transform: translateY(100%);
    opacity: 0;
  }
}

/* The matrix rain container */
.matrix-rain {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  display: grid;
  grid-template-columns: repeat(15, 1fr); 
  grid-gap: 0;
}

/* Each falling character */
.matrix-rain span {
  font-family: monospace;
  font-size: 20px;
  color: rgba(0, 255, 0, 0.8);
  opacity: 0;
  animation: fall 2.0s linear infinite;
  animation-delay: calc(1.75s * var(--i)); /* Staggered animation */
  text-shadow: 0 0 5px rgba(0, 255, 0, 0.8);
}

form {
  position: relative; /* Formu referans olarak alırız */
}

/* Butonun konumlandırılması */
button[type="submit"] {
  position: absolute;
  bottom: -50px; /* Mesaj kutusunun hemen altına yerleştiriyoruz */
  left: 0;
  width: 100%; /* Buton tüm genişliği kaplasın */
  padding: 15px;
  background-color: #1e3a8a;
  color: white;
  border: none;
  border-radius: 10px;
  text-align: center;
  font-size: 1rem;
  transition: background-color 0.3s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Buton hover efekti */
button[type="submit"]:hover {
  background-color: #2563eb;
}

textarea {
  color: #000000; /* Siyah metin */
  background-color: #f9f9f9; /* Hafif gri arka plan */
}

/* Textarea'nın odaklanıldığında, arka plan rengini ve yazı rengini değiştirme */
textarea:focus {
  color: #000000; /* Siyah metin */
  background-color: #ffffff; /* Bembeyaz arka plan */
  border-color: #1e3a8a; /* Mavi border */
}
input[type="text"], input[type="email"], textarea {
  color: #000000; /* Siyah metin */
  background-color: #f9f9f9; /* Hafif gri arka plan */
  border: 1px solid #ddd; /* Hafif gri border */
  padding: 12px;
  border-radius: 4px;
  width: 100%;
  font-size: 16px;
}

/* Name, Mail ve Message inputları odaklandığında stil değişikliği */
input[type="text"]:focus,
input[type="email"]:focus,
textarea:focus {
  color: #000000; /* Siyah metin */
  background-color: #ffffff; /* Bembeyaz arka plan */
  border-color: #1e3a8a; /* Mavi border */
  outline: none;
}
